* {
    font-family: 'Vollkorn', serif;
}

a:link {
    color:black;
  }

  a:visited {
    color: grey;
  }
  
a:hover {
    color: rgb(13, 13, 107);
  }

h1 {
    text-align: center;
}

li {
    background-color:  rgb(8, 64, 168);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

#main {
    background: url(../images/index.png);
    background-size: 100vw;
}

#final {
    background: url(../images/highScore.png);
    background-size: 100vw
}

#container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 50vw;
    height: 40vw;
    border: 2px solid black;
    background-color: white;
    opacity: 75%;
}

#goButton {
    background-color: rgb(8, 64, 168);
    color: white;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
}

#mainBits {
    margin: 20px;
}

#countdown {
    float: right;
}

#home {
    background-color: rgb(8, 64, 168);
    color: white;
    font-size: 15px;
    position: relative;
    padding: 10px;
    top: 30%;
    float: left;
}

#clear {
    background-color: rgb(8, 64, 168);
    color: white;
    font-size: 15px;
    position: relative;
    padding: 10px;
    top: 30%;
    float: right;
}

button {
    border-radius: 8px;
    cursor: pointer;
}

#Submit {
    background-color:  rgb(8, 64, 168);
    color: white;
    font-size: 15px;
    margin-left: 33%;
    padding: 15px 32px;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

textarea {
    width: 90%;
    margin: 20px;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}


